*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.container{
    margin-top: 50px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}
h2{
    font-size: 2rem;
    padding-top: 50px;
}
p{
padding: 4px;
}
input{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px 18px;
    padding: 10px;
}
button{
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    width: 80%;
    padding: 8px;
    margin: 8px;
}